```text
hostuser@04cb521b7f3a:/code/CODE/nP-CA_test$ date 
Sun Sep 21 08:13:30 UTC 2025
hostuser@04cb521b7f3a:/code/CODE/nP-CA_test$ gcc CA_4nPCA_012_mod.c -o CA_4nPCA_012_mod -lSDL2 -lm
hostuser@04cb521b7f3a:/code/CODE/nP-CA_test$ ./CA_4nPCA_012_mod
rules[0][0][0] = (0,0,0) [0.529131,0.029832,0.558929]
( chaosregular(x)2025-09-21_11:11:39: removed list of rules - not important debug artifact)
rules[0][0][254] = (1,0,254) [0.805753,0.566869,0.402347]
q - n Particle update physics paused = 1
i - initialize n-particles to setn=138 particles
i - initialize n-particles to setn=138 particles
i - initialize n-particles to setn=138 particles
i - initialize n-particles to setn=138 particles
i - initialize n-particles to setn=138 particles
q - n Particle update physics paused = 0
i - initialize n-particles to setn=138 particles
i - initialize n-particles to setn=138 particles
i - initialize n-particles to setn=138 particles
SPACE - CA paused = 0
step 0
Frame 210: Max energy: 54.978, Max stability: 6.705
step 100
Frame 310: Max energy: 60.103, Max stability: 6.225
step 200
Frame 410: Max energy: 66.484, Max stability: 6.227
step 300
Frame 510: Max energy: 65.943, Max stability: 6.328
step 400
Frame 610: Max energy: 62.681, Max stability: 6.397
step 500
Frame 710: Max energy: 58.487, Max stability: 6.428
step 600
Frame 810: Max energy: 60.853, Max stability: 6.430
step 700
Frame 910: Max energy: 55.887, Max stability: 6.412
step 800
Frame 1010: Max energy: 46.429, Max stability: 6.384
step 900
Frame 1110: Max energy: 42.888, Max stability: 6.351
step 1000
Frame 1210: Max energy: 40.658, Max stability: 6.316
step 1100
Frame 1310: Max energy: 38.449, Max stability: 6.282
step 1200
Frame 1410: Max energy: 37.059, Max stability: 6.248
step 1300
Frame 1510: Max energy: 35.871, Max stability: 6.212
step 1400
Frame 1610: Max energy: 33.685, Max stability: 6.170
step 1500
Frame 1710: Max energy: 31.726, Max stability: 6.130
step 1600
Frame 1810: Max energy: 34.576, Max stability: 6.092
step 1700
Frame 1910: Max energy: 39.595, Max stability: 6.081
step 1800
Frame 2010: Max energy: 43.027, Max stability: 6.062
step 1900
Frame 2110: Max energy: 39.351, Max stability: 6.035
step 2000
Frame 2210: Max energy: 33.575, Max stability: 6.025
step 2100
Frame 2310: Max energy: 35.110, Max stability: 6.022
step 2200
Frame 2410: Max energy: 32.933, Max stability: 6.014
step 2300
Frame 2510: Max energy: 29.099, Max stability: 6.003
step 2400
Frame 2610: Max energy: 28.336, Max stability: 5.988
step 2500
Frame 2710: Max energy: 32.360, Max stability: 5.970
step 2600
Frame 2810: Max energy: 34.443, Max stability: 5.951
step 2700
Frame 2910: Max energy: 34.453, Max stability: 5.931
step 2800
Frame 3010: Max energy: 32.067, Max stability: 5.920
step 2900
Frame 3110: Max energy: 29.702, Max stability: 5.911
step 3000
Frame 3210: Max energy: 30.878, Max stability: 5.894
step 3100
Frame 3310: Max energy: 29.150, Max stability: 5.873
step 3200
Frame 3410: Max energy: 26.992, Max stability: 5.862
step 3300
Frame 3510: Max energy: 30.892, Max stability: 5.845
step 3400
Frame 3610: Max energy: 30.442, Max stability: 5.847
step 3500
Frame 3710: Max energy: 25.757, Max stability: 5.834
step 3600
Frame 3810: Max energy: 23.223, Max stability: 5.815
step 3700
Frame 3910: Max energy: 23.071, Max stability: 5.814
step 3800
Frame 4010: Max energy: 28.227, Max stability: 5.815
step 3900
Frame 4110: Max energy: 32.038, Max stability: 5.812
step 4000
Frame 4210: Max energy: 30.469, Max stability: 5.860
step 4100
Frame 4310: Max energy: 25.339, Max stability: 5.841
step 4200
Frame 4410: Max energy: 23.719, Max stability: 5.828
step 4300
Frame 4510: Max energy: 34.707, Max stability: 5.804
step 4400
Frame 4610: Max energy: 43.205, Max stability: 5.780
step 4500
Frame 4710: Max energy: 42.824, Max stability: 5.758
step 4600
Frame 4810: Max energy: 26.101, Max stability: 5.738
step 4700
Frame 4910: Max energy: 19.176, Max stability: 5.712
step 4800
Frame 5010: Max energy: 11.498, Max stability: 5.676
step 4900
Frame 5110: Max energy: 33.949, Max stability: 5.646
step 5000
Frame 5210: Max energy: 60.267, Max stability: 5.623
step 5100
Frame 5310: Max energy: 36.726, Max stability: 5.603
step 5200
Frame 5410: Max energy: 13.442, Max stability: 5.586
step 5300
Frame 5510: Max energy: 9.796, Max stability: 5.568
step 5400
Frame 5610: Max energy: 6.894, Max stability: 5.544
step 5500
Frame 5710: Max energy: 6.616, Max stability: 5.520
step 5600
Frame 5810: Max energy: 6.251, Max stability: 5.499
step 5700
Frame 5910: Max energy: 5.968, Max stability: 5.478
step 5800
Frame 6010: Max energy: 6.263, Max stability: 5.457
step 5900
Frame 6110: Max energy: 6.799, Max stability: 5.442
step 6000
Frame 6210: Max energy: 5.318, Max stability: 5.446
step 6100
Frame 6310: Max energy: 4.802, Max stability: 5.450
step 6200
Frame 6410: Max energy: 4.231, Max stability: 5.456
step 6300
Frame 6510: Max energy: 5.996, Max stability: 5.462
step 6400
Frame 6610: Max energy: 5.669, Max stability: 5.464
step 6500
Frame 6710: Max energy: 67.538, Max stability: 5.456
step 6600
Frame 6810: Max energy: 27.777, Max stability: 5.546
step 6700
Frame 6910: Max energy: 8.423, Max stability: 5.455
step 6800
Frame 7010: Max energy: 5.723, Max stability: 5.441
step 6900
Frame 7110: Max energy: 4.795, Max stability: 5.441
step 7000
Frame 7210: Max energy: 4.616, Max stability: 5.442
step 7100
Frame 7310: Max energy: 29.820, Max stability: 5.444
step 7200
Frame 7410: Max energy: 5.338, Max stability: 5.447
step 7300
Frame 7510: Max energy: 4.227, Max stability: 5.448
step 7400
Frame 7610: Max energy: 3.524, Max stability: 5.446
step 7500
Frame 7710: Max energy: 3.531, Max stability: 5.441
step 7600
Frame 7810: Max energy: 3.568, Max stability: 5.435
step 7700
Frame 7910: Max energy: 3.378, Max stability: 5.432
step 7800
Frame 8010: Max energy: 4.186, Max stability: 5.430
step 7900
Frame 8110: Max energy: 5.276, Max stability: 5.428
step 8000
Frame 8210: Max energy: 3.829, Max stability: 5.428
step 8100
Frame 8310: Max energy: 4.510, Max stability: 5.430
step 8200
Frame 8410: Max energy: 3.879, Max stability: 5.431
step 8300
Frame 8510: Max energy: 2.472, Max stability: 5.430
step 8400
Frame 8610: Max energy: 2.769, Max stability: 5.429
step 8500
Frame 8710: Max energy: 3.274, Max stability: 5.428
step 8600
Frame 8810: Max energy: 4.910, Max stability: 5.427
step 8700
Frame 8910: Max energy: 82.259, Max stability: 5.498
step 8800
Frame 9010: Max energy: 14.066, Max stability: 5.478
step 8900
Frame 9110: Max energy: 11.306, Max stability: 5.441
step 9000
Frame 9210: Max energy: 11.296, Max stability: 5.422
step 9100
Frame 9310: Max energy: 9.741, Max stability: 5.418
step 9200
Frame 9410: Max energy: 5.254, Max stability: 5.420
step 9300
Frame 9510: Max energy: 5.346, Max stability: 5.421
step 9400
Frame 9610: Max energy: 5.033, Max stability: 5.424
step 9500
Frame 9710: Max energy: 1.977, Max stability: 5.429
step 9600
Frame 9810: Max energy: 2.980, Max stability: 5.442
step 9700
Frame 9910: Max energy: 4.150, Max stability: 5.459
step 9800
Frame 10010: Max energy: 5.116, Max stability: 5.459
step 9900
Frame 10110: Max energy: 2.366, Max stability: 5.448
step 10000
Frame 10210: Max energy: 4.407, Max stability: 5.434
step 10100
Frame 10310: Max energy: 4.028, Max stability: 5.425
step 10200
Frame 10410: Max energy: 2.785, Max stability: 5.425
step 10300
Frame 10510: Max energy: 2.088, Max stability: 5.424
step 10400
Frame 10610: Max energy: 3.510, Max stability: 5.423
step 10500
Frame 10710: Max energy: 1.519, Max stability: 5.421
step 10600
Frame 10810: Max energy: 1.594, Max stability: 5.419
step 10700
Frame 10910: Max energy: 2.179, Max stability: 5.417
step 10800
Frame 11010: Max energy: 2.774, Max stability: 5.417
step 10900
Frame 11110: Max energy: 1.913, Max stability: 5.417
step 11000
Frame 11210: Max energy: 1.475, Max stability: 5.414
step 11100
Frame 11310: Max energy: 2.874, Max stability: 5.414
step 11200
Frame 11410: Max energy: 1.766, Max stability: 5.423
step 11300
Frame 11510: Max energy: 1.227, Max stability: 5.431
step 11400
Frame 11610: Max energy: 1.853, Max stability: 5.438
step 11500
Frame 11710: Max energy: 2.331, Max stability: 5.443
step 11600
Frame 11810: Max energy: 2.278, Max stability: 5.451
step 11700
Frame 11910: Max energy: 1.850, Max stability: 5.452
step 11800
Frame 12010: Max energy: 4.987, Max stability: 5.449
step 11900
Frame 12110: Max energy: 1.682, Max stability: 5.450
step 12000
Frame 12210: Max energy: 3.310, Max stability: 5.438
step 12100
Frame 12310: Max energy: 2.860, Max stability: 5.437
step 12200
Frame 12410: Max energy: 3.741, Max stability: 5.429
step 12300
Frame 12510: Max energy: 1.590, Max stability: 5.423
step 12400
Frame 12610: Max energy: 0.268, Max stability: 5.421
step 12500
Frame 12710: Max energy: 1.846, Max stability: 5.428
step 12600
Frame 12810: Max energy: 0.268, Max stability: 5.421
step 12700
Frame 12910: Max energy: 3.657, Max stability: 5.408
step 12800
Frame 13010: Max energy: 9.185, Max stability: 5.410
step 12900
Frame 13110: Max energy: 2.190, Max stability: 5.428
step 13000
Frame 13210: Max energy: 1.783, Max stability: 5.434
step 13100
Frame 13310: Max energy: 1.036, Max stability: 5.439
step 13200
Frame 13410: Max energy: 0.972, Max stability: 5.445
step 13300
Frame 13510: Max energy: 2.353, Max stability: 5.461
step 13400
Frame 13610: Max energy: 4.706, Max stability: 5.467
step 13500
Frame 13710: Max energy: 106.075, Max stability: 5.465
step 13600
Frame 13810: Max energy: 18.964, Max stability: 5.466
step 13700
Frame 13910: Max energy: 10.895, Max stability: 5.469
step 13800
Frame 14010: Max energy: 6.464, Max stability: 5.466
step 13900
Frame 14110: Max energy: 5.923, Max stability: 5.461
step 14000
Frame 14210: Max energy: 3.174, Max stability: 5.458
step 14100
Frame 14310: Max energy: 3.394, Max stability: 5.456
step 14200
Frame 14410: Max energy: 2.675, Max stability: 5.454
step 14300
Frame 14510: Max energy: 1.788, Max stability: 5.451
step 14400
Frame 14610: Max energy: 2.379, Max stability: 5.446
step 14500
Frame 14710: Max energy: 2.581, Max stability: 5.443
step 14600
Frame 14810: Max energy: 2.092, Max stability: 5.443
step 14700
Frame 14910: Max energy: 4.040, Max stability: 5.445
step 14800
Frame 15010: Max energy: 2.133, Max stability: 5.451
step 14900
Frame 15110: Max energy: 3.333, Max stability: 5.462
step 15000
Frame 15210: Max energy: 4.509, Max stability: 5.468
step 15100
Frame 15310: Max energy: 2.092, Max stability: 5.460
step 15200
Frame 15410: Max energy: 3.261, Max stability: 5.451
step 15300
Frame 15510: Max energy: 5.802, Max stability: 5.445
step 15400
Frame 15610: Max energy: 2.890, Max stability: 5.449
step 15500
Frame 15710: Max energy: 1.681, Max stability: 5.447
step 15600
Frame 15810: Max energy: 4.421, Max stability: 5.442
step 15700
Frame 15910: Max energy: 4.722, Max stability: 5.434
step 15800
Frame 16010: Max energy: 2.315, Max stability: 5.431
step 15900
Frame 16110: Max energy: 1.283, Max stability: 5.426
step 16000
Frame 16210: Max energy: 3.765, Max stability: 5.413
step 16100
Frame 16310: Max energy: 8.817, Max stability: 5.408
step 16200
Frame 16410: Max energy: 3.373, Max stability: 5.411
step 16300
Frame 16510: Max energy: 2.356, Max stability: 5.410
step 16400
Frame 16610: Max energy: 1.771, Max stability: 5.415
step 16500
Frame 16710: Max energy: 0.668, Max stability: 5.411
step 16600
Frame 16810: Max energy: 0.529, Max stability: 5.412
step 16700
Frame 16910: Max energy: 1.085, Max stability: 5.411
step 16800
Frame 17010: Max energy: 12.692, Max stability: 5.409
step 16900
Frame 17110: Max energy: 3.919, Max stability: 5.410
step 17000
Frame 17210: Max energy: 3.517, Max stability: 5.404
step 17100
Frame 17310: Max energy: 1.928, Max stability: 5.393
step 17200
Frame 17410: Max energy: 0.918, Max stability: 5.390
step 17300
Frame 17510: Max energy: 0.598, Max stability: 5.390
step 17400
Frame 17610: Max energy: 0.269, Max stability: 5.389
step 17500
Frame 17710: Max energy: 0.228, Max stability: 5.388
step 17600
Frame 17810: Max energy: 1.414, Max stability: 5.391
step 17700
Frame 17910: Max energy: 0.497, Max stability: 5.390
step 17800
Frame 18010: Max energy: 3.078, Max stability: 5.385
step 17900
Frame 18110: Max energy: 0.231, Max stability: 5.390
step 18000
Frame 18210: Max energy: 0.539, Max stability: 5.389
step 18100
Frame 18310: Max energy: 3.419, Max stability: 5.384
step 18200
Frame 18410: Max energy: 0.241, Max stability: 5.389
step 18300
Frame 18510: Max energy: 0.943, Max stability: 5.389
step 18400
Frame 18610: Max energy: 0.503, Max stability: 5.392
step 18500
Frame 18710: Max energy: 0.899, Max stability: 5.394
step 18600
Frame 18810: Max energy: 0.849, Max stability: 5.390
step 18700
Frame 18910: Max energy: 2.276, Max stability: 5.392
step 18800
Frame 19010: Max energy: 1.093, Max stability: 5.391
step 18900
Frame 19110: Max energy: 0.527, Max stability: 5.389
step 19000
Frame 19210: Max energy: 0.739, Max stability: 5.389
step 19100
Frame 19310: Max energy: 0.289, Max stability: 5.387
step 19200
Frame 19410: Max energy: 0.465, Max stability: 5.390
step 19300
Frame 19510: Max energy: 1.010, Max stability: 5.391
step 19400
Frame 19610: Max energy: 0.381, Max stability: 5.389
step 19500
Frame 19710: Max energy: 0.850, Max stability: 5.389
step 19600
Frame 19810: Max energy: 1.598, Max stability: 5.387
step 19700
Frame 19910: Max energy: 2.553, Max stability: 5.387
step 19800
Frame 20010: Max energy: 0.444, Max stability: 5.390
step 19900
Frame 20110: Max energy: 0.625, Max stability: 5.390
step 20000
Frame 20210: Max energy: 0.521, Max stability: 5.389
step 20100
Frame 20310: Max energy: 1.071, Max stability: 5.386
step 20200
Frame 20410: Max energy: 0.944, Max stability: 5.388
step 20300
Frame 20510: Max energy: 0.848, Max stability: 5.389
step 20400
Frame 20610: Max energy: 0.921, Max stability: 5.391
step 20500
Frame 20710: Max energy: 0.355, Max stability: 5.390
step 20600
Frame 20810: Max energy: 1.058, Max stability: 5.390
step 20700
Frame 20910: Max energy: 0.957, Max stability: 5.388
step 20800
Frame 21010: Max energy: 0.982, Max stability: 5.389
step 20900
Frame 21110: Max energy: 0.425, Max stability: 5.389
step 21000
Frame 21210: Max energy: 0.486, Max stability: 5.390
step 21100
Frame 21310: Max energy: 1.169, Max stability: 5.390
step 21200
Frame 21410: Max energy: 0.474, Max stability: 5.389
step 21300
Frame 21510: Max energy: 0.229, Max stability: 5.390
step 21400
Frame 21610: Max energy: 1.623, Max stability: 5.392
step 21500
Frame 21710: Max energy: 0.610, Max stability: 5.390
step 21600
Frame 21810: Max energy: 1.033, Max stability: 5.392
step 21700
Frame 21910: Max energy: 0.268, Max stability: 5.390
step 21800
Frame 22010: Max energy: 0.828, Max stability: 5.389
step 21900
Frame 22110: Max energy: 0.629, Max stability: 5.392
step 22000
Frame 22210: Max energy: 1.356, Max stability: 5.391
step 22100
Frame 22310: Max energy: 1.079, Max stability: 5.388
step 22200
Frame 22410: Max energy: 0.343, Max stability: 5.389
step 22300
Frame 22510: Max energy: 0.385, Max stability: 5.389
step 22400
Frame 22610: Max energy: 0.222, Max stability: 5.389
step 22500
Frame 22710: Max energy: 3.041, Max stability: 5.382
step 22600
Frame 22810: Max energy: 0.375, Max stability: 5.389
step 22700
Frame 22910: Max energy: 0.938, Max stability: 5.442
step 22800
Frame 23010: Max energy: 0.644, Max stability: 5.389
step 22900
Frame 23110: Max energy: 0.261, Max stability: 5.389
step 23000
Frame 23210: Max energy: 0.584, Max stability: 5.390
step 23100
Frame 23310: Max energy: 0.678, Max stability: 5.390
step 23200
Frame 23410: Max energy: 1.660, Max stability: 5.394
step 23300
Frame 23510: Max energy: 0.629, Max stability: 5.390
step 23400
Frame 23610: Max energy: 0.501, Max stability: 5.391
step 23500
Frame 23710: Max energy: 1.546, Max stability: 5.391
step 23600
Frame 23810: Max energy: 0.999, Max stability: 5.392
step 23700
Frame 23910: Max energy: 3.461, Max stability: 5.387
step 23800
Frame 24010: Max energy: 0.623, Max stability: 5.389
step 23900
Frame 24110: Max energy: 0.208, Max stability: 5.389
step 24000
Frame 24210: Max energy: 1.762, Max stability: 5.388
step 24100
Frame 24310: Max energy: 2.197, Max stability: 5.391
step 24200
Frame 24410: Max energy: 0.269, Max stability: 5.389
step 24300
Frame 24510: Max energy: 0.643, Max stability: 5.390
step 24400
Frame 24610: Max energy: 1.964, Max stability: 5.392
step 24500
Frame 24710: Max energy: 1.533, Max stability: 5.392
step 24600
Frame 24810: Max energy: 1.566, Max stability: 5.392
step 24700
Frame 24910: Max energy: 1.565, Max stability: 5.392
step 24800
Frame 25010: Max energy: 1.564, Max stability: 5.392
step 24900
Frame 25110: Max energy: 1.559, Max stability: 5.392
step 25000
Frame 25210: Max energy: 1.564, Max stability: 5.392
step 25100
Frame 25310: Max energy: 1.564, Max stability: 5.392
step 25200
Frame 25410: Max energy: 1.564, Max stability: 5.392
step 25300
Frame 25510: Max energy: 1.570, Max stability: 5.392
step 25400
Frame 25610: Max energy: 1.571, Max stability: 5.392
step 25500
Frame 25710: Max energy: 1.573, Max stability: 5.392
step 25600
Frame 25810: Max energy: 1.571, Max stability: 5.392
step 25700
Frame 25910: Max energy: 1.566, Max stability: 5.392
step 25800
Frame 26010: Max energy: 1.574, Max stability: 5.392
step 25900
Frame 26110: Max energy: 1.571, Max stability: 5.392
step 26000
Frame 26210: Max energy: 1.571, Max stability: 5.392
step 26100
Frame 26310: Max energy: 1.566, Max stability: 5.392
step 26200
Frame 26410: Max energy: 1.563, Max stability: 5.392
step 26300
Frame 26510: Max energy: 1.563, Max stability: 5.392
step 26400
Frame 26610: Max energy: 1.564, Max stability: 5.392
step 26500
Frame 26710: Max energy: 1.563, Max stability: 5.392
step 26600
Frame 26810: Max energy: 1.564, Max stability: 5.392
step 26700
Frame 26910: Max energy: 1.561, Max stability: 5.392
step 26800
Frame 27010: Max energy: 1.560, Max stability: 5.392
step 26900
Frame 27110: Max energy: 1.564, Max stability: 5.392
step 27000
Frame 27210: Max energy: 1.565, Max stability: 5.392
step 27100
Frame 27310: Max energy: 1.556, Max stability: 5.392
step 27200
Frame 27410: Max energy: 1.563, Max stability: 5.392
step 27300
Frame 27510: Max energy: 1.557, Max stability: 5.392
step 27400
Frame 27610: Max energy: 1.562, Max stability: 5.392
step 27500
Frame 27710: Max energy: 1.560, Max stability: 5.392
step 27600
Frame 27810: Max energy: 1.562, Max stability: 5.392
step 27700
Frame 27910: Max energy: 1.563, Max stability: 5.392
step 27800
Frame 28010: Max energy: 1.560, Max stability: 5.392
step 27900
Frame 28110: Max energy: 1.558, Max stability: 5.392
step 28000
Frame 28210: Max energy: 1.557, Max stability: 5.392
step 28100
Frame 28310: Max energy: 1.557, Max stability: 5.392
step 28200
Frame 28410: Max energy: 1.558, Max stability: 5.392
step 28300
Frame 28510: Max energy: 1.552, Max stability: 5.392
step 28400
Frame 28610: Max energy: 1.547, Max stability: 5.392
step 28500
Frame 28710: Max energy: 1.554, Max stability: 5.392
step 28600
Frame 28810: Max energy: 1.553, Max stability: 5.392
step 28700
Frame 28910: Max energy: 1.557, Max stability: 5.392
step 28800
Frame 29010: Max energy: 1.556, Max stability: 5.392
step 28900
Frame 29110: Max energy: 1.556, Max stability: 5.392
step 29000
Frame 29210: Max energy: 1.558, Max stability: 5.392
step 29100
Frame 29310: Max energy: 1.559, Max stability: 5.392
step 29200
Frame 29410: Max energy: 1.559, Max stability: 5.392
step 29300
Frame 29510: Max energy: 1.583, Max stability: 5.392
step 29400
Frame 29610: Max energy: 1.591, Max stability: 5.392
step 29500
Frame 29710: Max energy: 1.566, Max stability: 5.392
step 29600
Frame 29810: Max energy: 1.566, Max stability: 5.392
step 29700
Frame 29910: Max energy: 1.563, Max stability: 5.392
step 29800
Frame 30010: Max energy: 1.560, Max stability: 5.392
step 29900
Frame 30110: Max energy: 1.560, Max stability: 5.392
step 30000
Frame 30210: Max energy: 1.571, Max stability: 5.392
step 30100
Frame 30310: Max energy: 1.573, Max stability: 5.392
step 30200
Frame 30410: Max energy: 1.569, Max stability: 5.392
step 30300
Frame 30510: Max energy: 1.570, Max stability: 5.392
step 30400
Frame 30610: Max energy: 1.569, Max stability: 5.392
step 30500
Frame 30710: Max energy: 1.572, Max stability: 5.392
step 30600
Frame 30810: Max energy: 1.572, Max stability: 5.392
step 30700
Frame 30910: Max energy: 1.571, Max stability: 5.392
step 30800
Frame 31010: Max energy: 1.573, Max stability: 5.392
step 30900
Frame 31110: Max energy: 1.571, Max stability: 5.392
step 31000
Frame 31210: Max energy: 1.568, Max stability: 5.392
step 31100
Frame 31310: Max energy: 1.566, Max stability: 5.392
step 31200
Frame 31410: Max energy: 1.570, Max stability: 5.392
step 31300
Frame 31510: Max energy: 1.565, Max stability: 5.392
step 31400
Frame 31610: Max energy: 1.572, Max stability: 5.392
step 31500
Frame 31710: Max energy: 1.568, Max stability: 5.392
step 31600
Frame 31810: Max energy: 1.565, Max stability: 5.392
step 31700
Frame 31910: Max energy: 1.567, Max stability: 5.392
step 31800
Frame 32010: Max energy: 1.564, Max stability: 5.392
step 31900
Frame 32110: Max energy: 1.567, Max stability: 5.392
step 32000
Frame 32210: Max energy: 1.563, Max stability: 5.392
step 32100
Frame 32310: Max energy: 1.567, Max stability: 5.392
step 32200
Frame 32410: Max energy: 1.566, Max stability: 5.392
step 32300
Frame 32510: Max energy: 1.566, Max stability: 5.392
step 32400
Frame 32610: Max energy: 1.568, Max stability: 5.392
step 32500
Frame 32710: Max energy: 1.571, Max stability: 5.392
step 32600
Frame 32810: Max energy: 1.569, Max stability: 5.392
step 32700
Frame 32910: Max energy: 1.567, Max stability: 5.392
step 32800
Frame 33010: Max energy: 1.565, Max stability: 5.392
step 32900
Frame 33110: Max energy: 1.562, Max stability: 5.392
step 33000
Frame 33210: Max energy: 1.561, Max stability: 5.392
step 33100
Frame 33310: Max energy: 1.557, Max stability: 5.392
step 33200
Frame 33410: Max energy: 1.561, Max stability: 5.392
step 33300
Frame 33510: Max energy: 1.559, Max stability: 5.392
step 33400
Frame 33610: Max energy: 1.563, Max stability: 5.392
step 33500
Frame 33710: Max energy: 1.563, Max stability: 5.392
step 33600
Frame 33810: Max energy: 1.564, Max stability: 5.392
step 33700
Frame 33910: Max energy: 1.558, Max stability: 5.392
step 33800
Frame 34010: Max energy: 1.561, Max stability: 5.392
step 33900
Frame 34110: Max energy: 1.563, Max stability: 5.392
step 34000
Frame 34210: Max energy: 1.564, Max stability: 5.392
step 34100
Frame 34310: Max energy: 1.565, Max stability: 5.392
step 34200
Frame 34410: Max energy: 1.560, Max stability: 5.392
step 34300
Frame 34510: Max energy: 1.562, Max stability: 5.392
step 34400
Frame 34610: Max energy: 1.560, Max stability: 5.392
step 34500
Frame 34710: Max energy: 1.563, Max stability: 5.392
step 34600
Frame 34810: Max energy: 1.560, Max stability: 5.392
step 34700
Frame 34910: Max energy: 1.561, Max stability: 5.392
step 34800
Frame 35010: Max energy: 1.560, Max stability: 5.392
step 34900
Frame 35110: Max energy: 1.561, Max stability: 5.392
step 35000
Frame 35210: Max energy: 1.561, Max stability: 5.392
step 35100
Frame 35310: Max energy: 1.561, Max stability: 5.392
step 35200
Frame 35410: Max energy: 1.561, Max stability: 5.392
step 35300
Frame 35510: Max energy: 1.558, Max stability: 5.392
step 35400
Frame 35610: Max energy: 1.555, Max stability: 5.392
step 35500
Frame 35710: Max energy: 1.556, Max stability: 5.392
step 35600
Frame 35810: Max energy: 1.560, Max stability: 5.392
step 35700
Frame 35910: Max energy: 1.558, Max stability: 5.392
step 35800
Frame 36010: Max energy: 1.556, Max stability: 5.392
step 35900
Frame 36110: Max energy: 1.559, Max stability: 5.392
step 36000
Frame 36210: Max energy: 1.556, Max stability: 5.392
step 36100
Frame 36310: Max energy: 1.560, Max stability: 5.392
step 36200
Frame 36410: Max energy: 1.558, Max stability: 5.392
step 36300
Frame 36510: Max energy: 1.552, Max stability: 5.392
step 36400
Frame 36610: Max energy: 1.555, Max stability: 5.392
step 36500
Frame 36710: Max energy: 1.554, Max stability: 5.392
step 36600
Frame 36810: Max energy: 1.554, Max stability: 5.392
step 36700
Frame 36910: Max energy: 1.552, Max stability: 5.392
step 36800
Frame 37010: Max energy: 1.555, Max stability: 5.392
step 36900
Frame 37110: Max energy: 1.552, Max stability: 5.392
step 37000
Frame 37210: Max energy: 1.550, Max stability: 5.392
step 37100
Frame 37310: Max energy: 1.550, Max stability: 5.392
step 37200
Frame 37410: Max energy: 1.552, Max stability: 5.392
step 37300
Frame 37510: Max energy: 1.551, Max stability: 5.392
step 37400
Frame 37610: Max energy: 1.550, Max stability: 5.392
step 37500
Frame 37710: Max energy: 1.551, Max stability: 5.392
step 37600
Frame 37810: Max energy: 1.552, Max stability: 5.392
step 37700
Frame 37910: Max energy: 1.551, Max stability: 5.392
step 37800
Frame 38010: Max energy: 1.553, Max stability: 5.392
step 37900
Frame 38110: Max energy: 1.550, Max stability: 5.392
step 38000
Frame 38210: Max energy: 1.554, Max stability: 5.392
step 38100
Frame 38310: Max energy: 1.552, Max stability: 5.392
step 38200
Frame 38410: Max energy: 1.555, Max stability: 5.392
step 38300
Frame 38510: Max energy: 1.557, Max stability: 5.392
step 38400
Frame 38610: Max energy: 1.555, Max stability: 5.392
step 38500
Frame 38710: Max energy: 1.554, Max stability: 5.392
step 38600
Frame 38810: Max energy: 1.558, Max stability: 5.392
step 38700
Frame 38910: Max energy: 1.557, Max stability: 5.392
step 38800
Frame 39010: Max energy: 1.567, Max stability: 5.392
step 38900
Frame 39110: Max energy: 1.560, Max stability: 5.392
step 39000
Frame 39210: Max energy: 1.558, Max stability: 5.392
step 39100
Frame 39310: Max energy: 1.558, Max stability: 5.392
step 39200
Frame 39410: Max energy: 1.559, Max stability: 5.392
step 39300
Frame 39510: Max energy: 1.554, Max stability: 5.392
step 39400
Frame 39610: Max energy: 1.560, Max stability: 5.392
step 39500
Frame 39710: Max energy: 1.559, Max stability: 5.392
step 39600
Frame 39810: Max energy: 1.559, Max stability: 5.392
step 39700
Frame 39910: Max energy: 1.563, Max stability: 5.392
step 39800
Frame 40010: Max energy: 1.564, Max stability: 5.392
step 39900
Frame 40110: Max energy: 1.561, Max stability: 5.392
step 40000
Frame 40210: Max energy: 1.561, Max stability: 5.392
step 40100
Frame 40310: Max energy: 1.557, Max stability: 5.392
step 40200
Frame 40410: Max energy: 1.560, Max stability: 5.392
step 40300
Frame 40510: Max energy: 1.565, Max stability: 5.392
step 40400
Frame 40610: Max energy: 1.563, Max stability: 5.392
step 40500
Frame 40710: Max energy: 1.565, Max stability: 5.392
step 40600
Frame 40810: Max energy: 1.558, Max stability: 5.392
step 40700
Frame 40910: Max energy: 1.562, Max stability: 5.392
step 40800
Frame 41010: Max energy: 1.559, Max stability: 5.392
step 40900
Frame 41110: Max energy: 1.554, Max stability: 5.392
step 41000
Frame 41210: Max energy: 1.549, Max stability: 5.392
step 41100
Frame 41310: Max energy: 1.551, Max stability: 5.392
step 41200
Frame 41410: Max energy: 1.549, Max stability: 5.392
step 41300
Frame 41510: Max energy: 1.549, Max stability: 5.392
step 41400
Frame 41610: Max energy: 1.548, Max stability: 5.392
step 41500
Frame 41710: Max energy: 1.549, Max stability: 5.392
step 41600
Frame 41810: Max energy: 1.550, Max stability: 5.392
step 41700
Frame 41910: Max energy: 1.551, Max stability: 5.392
step 41800
Frame 42010: Max energy: 1.546, Max stability: 5.392
step 41900
Frame 42110: Max energy: 1.535, Max stability: 5.392
step 42000
Frame 42210: Max energy: 1.540, Max stability: 5.392
step 42100
Frame 42310: Max energy: 1.547, Max stability: 5.392
step 42200
Frame 42410: Max energy: 1.542, Max stability: 5.392
step 42300
Frame 42510: Max energy: 1.545, Max stability: 5.392
step 42400
Frame 42610: Max energy: 1.544, Max stability: 5.392
step 42500
Frame 42710: Max energy: 1.545, Max stability: 5.392
step 42600
Frame 42810: Max energy: 1.545, Max stability: 5.392
step 42700
Frame 42910: Max energy: 1.551, Max stability: 5.392
step 42800
Frame 43010: Max energy: 1.552, Max stability: 5.392
step 42900
Frame 43110: Max energy: 1.547, Max stability: 5.392
step 43000
Frame 43210: Max energy: 1.549, Max stability: 5.392
step 43100
Frame 43310: Max energy: 1.544, Max stability: 5.392
step 43200
Frame 43410: Max energy: 1.550, Max stability: 5.392
step 43300
Frame 43510: Max energy: 1.546, Max stability: 5.392
step 43400
Frame 43610: Max energy: 1.544, Max stability: 5.392
step 43500
Frame 43710: Max energy: 1.549, Max stability: 5.392
step 43600
Frame 43810: Max energy: 1.553, Max stability: 5.392
step 43700
Frame 43910: Max energy: 1.551, Max stability: 5.392
step 43800
Frame 44010: Max energy: 1.559, Max stability: 5.392
step 43900
Frame 44110: Max energy: 1.556, Max stability: 5.392
step 44000
Frame 44210: Max energy: 1.550, Max stability: 5.392
step 44100
Frame 44310: Max energy: 1.556, Max stability: 5.392
step 44200
Frame 44410: Max energy: 1.553, Max stability: 5.392
step 44300
Frame 44510: Max energy: 1.555, Max stability: 5.392
step 44400
Frame 44610: Max energy: 1.551, Max stability: 5.392
step 44500
Frame 44710: Max energy: 1.550, Max stability: 5.392
step 44600
Frame 44810: Max energy: 1.550, Max stability: 5.392
step 44700
Frame 44910: Max energy: 1.551, Max stability: 5.392
step 44800
Frame 45010: Max energy: 1.549, Max stability: 5.392
step 44900
Frame 45110: Max energy: 1.548, Max stability: 5.392
step 45000
Frame 45210: Max energy: 1.549, Max stability: 5.392
step 45100
Frame 45310: Max energy: 1.552, Max stability: 5.392
step 45200
Frame 45410: Max energy: 1.558, Max stability: 5.392
step 45300
Frame 45510: Max energy: 1.555, Max stability: 5.392
step 45400
Frame 45610: Max energy: 1.550, Max stability: 5.392
step 45500
Frame 45710: Max energy: 1.549, Max stability: 5.392
step 45600
Frame 45810: Max energy: 1.553, Max stability: 5.392
step 45700
Frame 45910: Max energy: 1.551, Max stability: 5.392
step 45800
Frame 46010: Max energy: 1.550, Max stability: 5.392
step 45900
Frame 46110: Max energy: 1.548, Max stability: 5.392
step 46000
Frame 46210: Max energy: 1.548, Max stability: 5.392
step 46100
Frame 46310: Max energy: 1.548, Max stability: 5.392
step 46200
Frame 46410: Max energy: 1.548, Max stability: 5.392
step 46300
Frame 46510: Max energy: 1.547, Max stability: 5.392
step 46400
Frame 46610: Max energy: 1.550, Max stability: 5.392
step 46500
Frame 46710: Max energy: 1.554, Max stability: 5.392
step 46600
Frame 46810: Max energy: 1.550, Max stability: 5.392
step 46700
Frame 46910: Max energy: 1.552, Max stability: 5.392
step 46800
Frame 47010: Max energy: 1.550, Max stability: 5.392
step 46900
Frame 47110: Max energy: 1.553, Max stability: 5.392
step 47000
Frame 47210: Max energy: 1.550, Max stability: 5.392
step 47100
Frame 47310: Max energy: 1.552, Max stability: 5.392
step 47200
Frame 47410: Max energy: 1.552, Max stability: 5.392
step 47300
Frame 47510: Max energy: 1.552, Max stability: 5.392
step 47400
Frame 47610: Max energy: 1.550, Max stability: 5.392
step 47500
Frame 47710: Max energy: 1.550, Max stability: 5.392
step 47600
Frame 47810: Max energy: 1.550, Max stability: 5.392
step 47700
Frame 47910: Max energy: 1.553, Max stability: 5.392
step 47800
Frame 48010: Max energy: 1.553, Max stability: 5.392
step 47900
Frame 48110: Max energy: 1.554, Max stability: 5.392
step 48000
Frame 48210: Max energy: 1.554, Max stability: 5.392
step 48100
Frame 48310: Max energy: 1.554, Max stability: 5.392
step 48200
Frame 48410: Max energy: 1.556, Max stability: 5.392
step 48300
Frame 48510: Max energy: 1.556, Max stability: 5.392
step 48400
Frame 48610: Max energy: 1.555, Max stability: 5.392
step 48500
Frame 48710: Max energy: 1.553, Max stability: 5.392
step 48600
Frame 48810: Max energy: 1.554, Max stability: 5.392
step 48700
Frame 48910: Max energy: 1.554, Max stability: 5.392
step 48800
Frame 49010: Max energy: 1.553, Max stability: 5.392
step 48900
Frame 49110: Max energy: 1.554, Max stability: 5.392
step 49000
Frame 49210: Max energy: 1.554, Max stability: 5.392
step 49100
Frame 49310: Max energy: 1.559, Max stability: 5.392
step 49200
Frame 49410: Max energy: 1.557, Max stability: 5.392
step 49300
Frame 49510: Max energy: 1.559, Max stability: 5.392
step 49400
Frame 49610: Max energy: 1.559, Max stability: 5.392
step 49500
Frame 49710: Max energy: 1.561, Max stability: 5.392
step 49600
Frame 49810: Max energy: 1.561, Max stability: 5.392
step 49700
Frame 49910: Max energy: 1.558, Max stability: 5.392
step 49800
Frame 50010: Max energy: 1.561, Max stability: 5.392
step 49900
Frame 50110: Max energy: 1.559, Max stability: 5.392
step 50000
Frame 50210: Max energy: 1.559, Max stability: 5.392
step 50100
Frame 50310: Max energy: 1.557, Max stability: 5.392
step 50200
Frame 50410: Max energy: 1.561, Max stability: 5.392
step 50300
Frame 50510: Max energy: 1.559, Max stability: 5.392
step 50400
Frame 50610: Max energy: 1.560, Max stability: 5.392
step 50500
Frame 50710: Max energy: 1.559, Max stability: 5.392
step 50600
Frame 50810: Max energy: 1.558, Max stability: 5.392
step 50700
Frame 50910: Max energy: 1.560, Max stability: 5.392
step 50800
Frame 51010: Max energy: 1.561, Max stability: 5.392
step 50900
Frame 51110: Max energy: 1.559, Max stability: 5.392
step 51000
Frame 51210: Max energy: 1.559, Max stability: 5.392
step 51100
Frame 51310: Max energy: 1.559, Max stability: 5.392
step 51200
Frame 51410: Max energy: 1.566, Max stability: 5.392
step 51300
Frame 51510: Max energy: 1.560, Max stability: 5.392
step 51400
Frame 51610: Max energy: 1.561, Max stability: 5.392
step 51500
Frame 51710: Max energy: 1.561, Max stability: 5.392
step 51600
Frame 51810: Max energy: 1.559, Max stability: 5.392
step 51700
Frame 51910: Max energy: 1.560, Max stability: 5.392
step 51800
Frame 52010: Max energy: 1.562, Max stability: 5.392
step 51900
Frame 52110: Max energy: 1.560, Max stability: 5.392
step 52000
Frame 52210: Max energy: 1.559, Max stability: 5.392
step 52100
Frame 52310: Max energy: 1.561, Max stability: 5.392
step 52200
Frame 52410: Max energy: 1.559, Max stability: 5.392
step 52300
Frame 52510: Max energy: 1.556, Max stability: 5.392
step 52400
Frame 52610: Max energy: 1.559, Max stability: 5.392
step 52500
Frame 52710: Max energy: 1.559, Max stability: 5.392
step 52600
Frame 52810: Max energy: 1.549, Max stability: 5.392
step 52700
Frame 52910: Max energy: 1.549, Max stability: 5.392
step 52800
Frame 53010: Max energy: 1.552, Max stability: 5.392
step 52900
Frame 53110: Max energy: 1.555, Max stability: 5.392
step 53000
Frame 53210: Max energy: 1.553, Max stability: 5.392
step 53100
Frame 53310: Max energy: 1.557, Max stability: 5.392
step 53200
Frame 53410: Max energy: 1.551, Max stability: 5.392
step 53300
Frame 53510: Max energy: 1.554, Max stability: 5.392
step 53400
Frame 53610: Max energy: 1.544, Max stability: 5.392
step 53500
Frame 53710: Max energy: 1.554, Max stability: 5.392
step 53600
Frame 53810: Max energy: 1.551, Max stability: 5.392
step 53700
Frame 53910: Max energy: 1.552, Max stability: 5.392
step 53800
Frame 54010: Max energy: 1.552, Max stability: 5.392
step 53900
Frame 54110: Max energy: 1.553, Max stability: 5.392
step 54000
Frame 54210: Max energy: 1.555, Max stability: 5.392
step 54100
Frame 54310: Max energy: 1.559, Max stability: 5.392
step 54200
Frame 54410: Max energy: 1.560, Max stability: 5.392
step 54300
Frame 54510: Max energy: 1.560, Max stability: 5.392
step 54400
Frame 54610: Max energy: 1.560, Max stability: 5.392
step 54500
Frame 54710: Max energy: 1.566, Max stability: 5.392
step 54600
Frame 54810: Max energy: 1.558, Max stability: 5.392
step 54700
Frame 54910: Max energy: 1.564, Max stability: 5.392
step 54800
Frame 55010: Max energy: 1.560, Max stability: 5.392
step 54900
Frame 55110: Max energy: 1.558, Max stability: 5.392
step 55000
Frame 55210: Max energy: 1.566, Max stability: 5.392
step 55100
Frame 55310: Max energy: 1.567, Max stability: 5.392
step 55200
Frame 55410: Max energy: 1.561, Max stability: 5.392
step 55300
Frame 55510: Max energy: 1.560, Max stability: 5.392
step 55400
Frame 55610: Max energy: 1.563, Max stability: 5.392
step 55500
Frame 55710: Max energy: 1.553, Max stability: 5.392
step 55600
Frame 55810: Max energy: 1.551, Max stability: 5.392
step 55700
Frame 55910: Max energy: 1.552, Max stability: 5.392
step 55800
Frame 56010: Max energy: 1.551, Max stability: 5.392
step 55900
Frame 56110: Max energy: 1.549, Max stability: 5.392
step 56000
Frame 56210: Max energy: 1.549, Max stability: 5.392
step 56100
Frame 56310: Max energy: 1.550, Max stability: 5.392
step 56200
Frame 56410: Max energy: 1.552, Max stability: 5.392
step 56300
Frame 56510: Max energy: 1.554, Max stability: 5.392
step 56400
Frame 56610: Max energy: 1.554, Max stability: 5.392
step 56500
Frame 56710: Max energy: 1.551, Max stability: 5.392
step 56600
Frame 56810: Max energy: 1.552, Max stability: 5.392
step 56700
Frame 56910: Max energy: 1.552, Max stability: 5.392
step 56800
Frame 57010: Max energy: 1.552, Max stability: 5.392
step 56900
Frame 57110: Max energy: 1.552, Max stability: 5.392
step 57000
Frame 57210: Max energy: 1.554, Max stability: 5.392
step 57100
Frame 57310: Max energy: 1.552, Max stability: 5.392
step 57200
Frame 57410: Max energy: 1.552, Max stability: 5.392
step 57300
Frame 57510: Max energy: 1.551, Max stability: 5.392
step 57400
Frame 57610: Max energy: 1.552, Max stability: 5.392
step 57500
Frame 57710: Max energy: 1.553, Max stability: 5.392
step 57600
Frame 57810: Max energy: 1.551, Max stability: 5.392
step 57700
Frame 57910: Max energy: 1.554, Max stability: 5.392
step 57800
Frame 58010: Max energy: 1.549, Max stability: 5.392
step 57900
Frame 58110: Max energy: 1.549, Max stability: 5.392
step 58000
Frame 58210: Max energy: 1.551, Max stability: 5.392
step 58100
Frame 58310: Max energy: 1.554, Max stability: 5.392
step 58200
Frame 58410: Max energy: 1.548, Max stability: 5.392
step 58300
Frame 58510: Max energy: 1.548, Max stability: 5.392
step 58400
Frame 58610: Max energy: 1.551, Max stability: 5.392
step 58500
Frame 58710: Max energy: 1.549, Max stability: 5.392
step 58600
Frame 58810: Max energy: 1.547, Max stability: 5.392
step 58700
Frame 58910: Max energy: 1.548, Max stability: 5.392
step 58800
Frame 59010: Max energy: 1.546, Max stability: 5.392
step 58900
Frame 59110: Max energy: 1.544, Max stability: 5.392
step 59000
Frame 59210: Max energy: 1.547, Max stability: 5.392
step 59100
Frame 59310: Max energy: 1.549, Max stability: 5.392
step 59200
Frame 59410: Max energy: 1.554, Max stability: 5.392
step 59300
Frame 59510: Max energy: 1.550, Max stability: 5.392
step 59400
Frame 59610: Max energy: 1.552, Max stability: 5.392
step 59500
Frame 59710: Max energy: 1.553, Max stability: 5.392
step 59600
Frame 59810: Max energy: 1.552, Max stability: 5.392
step 59700
Frame 59910: Max energy: 1.554, Max stability: 5.392
step 59800
Frame 60010: Max energy: 1.553, Max stability: 5.392
step 59900
Frame 60110: Max energy: 1.555, Max stability: 5.392
step 60000
Frame 60210: Max energy: 1.553, Max stability: 5.392
step 60100
Frame 60310: Max energy: 1.552, Max stability: 5.392
step 60200
Frame 60410: Max energy: 1.556, Max stability: 5.392
step 60300
Frame 60510: Max energy: 1.557, Max stability: 5.392
step 60400
Frame 60610: Max energy: 1.557, Max stability: 5.392
step 60500
Frame 60710: Max energy: 1.557, Max stability: 5.392
step 60600
Frame 60810: Max energy: 1.555, Max stability: 5.392
step 60700
Frame 60910: Max energy: 1.556, Max stability: 5.392
step 60800
Frame 61010: Max energy: 1.556, Max stability: 5.392
step 60900
Frame 61110: Max energy: 1.558, Max stability: 5.392
step 61000
Frame 61210: Max energy: 1.563, Max stability: 5.392
step 61100
Frame 61310: Max energy: 1.563, Max stability: 5.392
step 61200
Frame 61410: Max energy: 1.559, Max stability: 5.392
step 61300
Frame 61510: Max energy: 1.558, Max stability: 5.392
step 61400
Frame 61610: Max energy: 1.559, Max stability: 5.392
step 61500
Frame 61710: Max energy: 1.561, Max stability: 5.392
step 61600
Frame 61810: Max energy: 1.559, Max stability: 5.392
step 61700
Frame 61910: Max energy: 1.558, Max stability: 5.392
step 61800
Frame 62010: Max energy: 1.558, Max stability: 5.392
step 61900
Frame 62110: Max energy: 1.558, Max stability: 5.392
step 62000
Frame 62210: Max energy: 1.556, Max stability: 5.392
step 62100
Frame 62310: Max energy: 1.557, Max stability: 5.392
step 62200
Frame 62410: Max energy: 1.557, Max stability: 5.392
step 62300
Frame 62510: Max energy: 1.558, Max stability: 5.392
step 62400
Frame 62610: Max energy: 1.556, Max stability: 5.392
step 62500
Frame 62710: Max energy: 1.559, Max stability: 5.392
step 62600
Frame 62810: Max energy: 1.558, Max stability: 5.392
step 62700
Frame 62910: Max energy: 1.557, Max stability: 5.392
step 62800
Frame 63010: Max energy: 1.560, Max stability: 5.392
step 62900
Frame 63110: Max energy: 1.559, Max stability: 5.392
step 63000
Frame 63210: Max energy: 1.560, Max stability: 5.392
step 63100
Frame 63310: Max energy: 1.559, Max stability: 5.392
step 63200
Frame 63410: Max energy: 1.559, Max stability: 5.392
step 63300
Frame 63510: Max energy: 1.556, Max stability: 5.392
step 63400
Frame 63610: Max energy: 1.559, Max stability: 5.392
step 63500
Frame 63710: Max energy: 1.559, Max stability: 5.392
step 63600
Frame 63810: Max energy: 1.554, Max stability: 5.392
step 63700
Frame 63910: Max energy: 1.556, Max stability: 5.392
step 63800
Frame 64010: Max energy: 1.554, Max stability: 5.392
step 63900
Frame 64110: Max energy: 1.552, Max stability: 5.392
step 64000
Frame 64210: Max energy: 1.556, Max stability: 5.392
step 64100
Frame 64310: Max energy: 1.553, Max stability: 5.392
step 64200
Frame 64410: Max energy: 1.556, Max stability: 5.392
step 64300
Frame 64510: Max energy: 1.556, Max stability: 5.392
step 64400
Frame 64610: Max energy: 1.555, Max stability: 5.392
step 64500
Frame 64710: Max energy: 1.554, Max stability: 5.392
step 64600
Frame 64810: Max energy: 1.555, Max stability: 5.392
step 64700
Frame 64910: Max energy: 1.554, Max stability: 5.392
step 64800
Frame 65010: Max energy: 1.554, Max stability: 5.392
step 64900
Frame 65110: Max energy: 1.555, Max stability: 5.392
step 65000
Frame 65210: Max energy: 1.556, Max stability: 5.392
step 65100
Frame 65310: Max energy: 1.559, Max stability: 5.392
step 65200
Frame 65410: Max energy: 1.557, Max stability: 5.392
step 65300
Frame 65510: Max energy: 1.560, Max stability: 5.392
step 65400
Frame 65610: Max energy: 1.554, Max stability: 5.392
step 65500
Frame 65710: Max energy: 1.559, Max stability: 5.392
step 65600
Frame 65810: Max energy: 1.552, Max stability: 5.392
step 65700
Frame 65910: Max energy: 1.552, Max stability: 5.392
step 65800
Frame 66010: Max energy: 1.558, Max stability: 5.392
step 65900
Frame 66110: Max energy: 1.556, Max stability: 5.392
step 66000
Frame 66210: Max energy: 1.555, Max stability: 5.392
step 66100
Frame 66310: Max energy: 1.559, Max stability: 5.392
step 66200
Frame 66410: Max energy: 1.557, Max stability: 5.392
step 66300
Frame 66510: Max energy: 1.555, Max stability: 5.392
step 66400
Frame 66610: Max energy: 1.559, Max stability: 5.392
step 66500
Frame 66710: Max energy: 1.559, Max stability: 5.392
step 66600
Frame 66810: Max energy: 1.557, Max stability: 5.392
step 66700
Frame 66910: Max energy: 1.557, Max stability: 5.392
step 66800
Frame 67010: Max energy: 1.560, Max stability: 5.392
step 66900
Frame 67110: Max energy: 1.558, Max stability: 5.392
step 67000
Frame 67210: Max energy: 1.558, Max stability: 5.392
step 67100
Frame 67310: Max energy: 1.559, Max stability: 5.392
step 67200
Frame 67410: Max energy: 1.556, Max stability: 5.392
step 67300
Frame 67510: Max energy: 1.545, Max stability: 5.392
step 67400
Frame 67610: Max energy: 1.551, Max stability: 5.392
step 67500
Frame 67710: Max energy: 1.556, Max stability: 5.392
step 67600
Frame 67810: Max energy: 1.557, Max stability: 5.392
step 67700
Frame 67910: Max energy: 1.556, Max stability: 5.392
step 67800
Frame 68010: Max energy: 1.556, Max stability: 5.392
step 67900
Frame 68110: Max energy: 1.557, Max stability: 5.392
step 68000
Frame 68210: Max energy: 1.557, Max stability: 5.392
step 68100
Frame 68310: Max energy: 1.558, Max stability: 5.392
step 68200
Frame 68410: Max energy: 1.559, Max stability: 5.392
step 68300
Frame 68510: Max energy: 1.560, Max stability: 5.392
step 68400
Frame 68610: Max energy: 1.557, Max stability: 5.392
step 68500
Frame 68710: Max energy: 1.560, Max stability: 5.392
step 68600
Frame 68810: Max energy: 1.556, Max stability: 5.392
step 68700
Frame 68910: Max energy: 1.560, Max stability: 5.392
step 68800
Frame 69010: Max energy: 1.560, Max stability: 5.392
step 68900
Frame 69110: Max energy: 1.560, Max stability: 5.392
step 69000
Frame 69210: Max energy: 1.559, Max stability: 5.392
step 69100
Frame 69310: Max energy: 1.561, Max stability: 5.392
step 69200
Frame 69410: Max energy: 1.568, Max stability: 5.392
step 69300
Frame 69510: Max energy: 1.555, Max stability: 5.392
step 69400
Frame 69610: Max energy: 1.560, Max stability: 5.392
step 69500
Frame 69710: Max energy: 1.560, Max stability: 5.392
step 69600
Frame 69810: Max energy: 1.562, Max stability: 5.392
step 69700
Frame 69910: Max energy: 1.561, Max stability: 5.392
step 69800
Frame 70010: Max energy: 1.568, Max stability: 5.392
step 69900
Frame 70110: Max energy: 1.564, Max stability: 5.392
step 70000
Frame 70210: Max energy: 1.561, Max stability: 5.392
step 70100
Frame 70310: Max energy: 1.570, Max stability: 5.392
step 70200
Frame 70410: Max energy: 1.572, Max stability: 5.392
step 70300
Frame 70510: Max energy: 1.561, Max stability: 5.392
step 70400
Frame 70610: Max energy: 1.562, Max stability: 5.392
step 70500
Frame 70710: Max energy: 1.565, Max stability: 5.392
step 70600
Frame 70810: Max energy: 1.566, Max stability: 5.392
step 70700
Frame 70910: Max energy: 1.567, Max stability: 5.392
step 70800
Frame 71010: Max energy: 1.565, Max stability: 5.392
step 70900
Frame 71110: Max energy: 1.564, Max stability: 5.392
step 71000
Frame 71210: Max energy: 1.563, Max stability: 5.392
step 71100
Frame 71310: Max energy: 1.566, Max stability: 5.392
step 71200
Frame 71410: Max energy: 1.565, Max stability: 5.392
step 71300
Frame 71510: Max energy: 1.566, Max stability: 5.392
step 71400
Frame 71610: Max energy: 1.566, Max stability: 5.392
step 71500
Frame 71710: Max energy: 1.567, Max stability: 5.392
step 71600
Frame 71810: Max energy: 1.566, Max stability: 5.392
step 71700
Frame 71910: Max energy: 1.563, Max stability: 5.392
step 71800
Frame 72010: Max energy: 1.568, Max stability: 5.392
step 71900
Frame 72110: Max energy: 1.564, Max stability: 5.392
step 72000
Frame 72210: Max energy: 1.563, Max stability: 5.392
step 72100
Frame 72310: Max energy: 1.564, Max stability: 5.392
step 72200
Frame 72410: Max energy: 1.562, Max stability: 5.392
step 72300
Frame 72510: Max energy: 1.560, Max stability: 5.392
step 72400
Frame 72610: Max energy: 1.564, Max stability: 5.392
step 72500
Frame 72710: Max energy: 1.571, Max stability: 5.392
step 72600
Frame 72810: Max energy: 1.566, Max stability: 5.392
step 72700
Frame 72910: Max energy: 1.562, Max stability: 5.392
step 72800
Frame 73010: Max energy: 1.565, Max stability: 5.392
step 72900
Frame 73110: Max energy: 1.558, Max stability: 5.392
step 73000
Frame 73210: Max energy: 1.558, Max stability: 5.392
step 73100
Frame 73310: Max energy: 1.559, Max stability: 5.392
step 73200
Frame 73410: Max energy: 1.555, Max stability: 5.392
step 73300
Frame 73510: Max energy: 1.557, Max stability: 5.392
step 73400
Frame 73610: Max energy: 1.559, Max stability: 5.392
step 73500
Frame 73710: Max energy: 1.556, Max stability: 5.392
step 73600
Frame 73810: Max energy: 1.558, Max stability: 5.392
step 73700
Frame 73910: Max energy: 1.559, Max stability: 5.392
step 73800
Frame 74010: Max energy: 1.557, Max stability: 5.392
step 73900
Frame 74110: Max energy: 1.560, Max stability: 5.392
step 74000
Frame 74210: Max energy: 1.563, Max stability: 5.392
step 74100
Frame 74310: Max energy: 1.561, Max stability: 5.392
step 74200
Frame 74410: Max energy: 1.553, Max stability: 5.392
step 74300
Frame 74510: Max energy: 1.559, Max stability: 5.392
step 74400
Frame 74610: Max energy: 1.555, Max stability: 5.392
step 74500
Frame 74710: Max energy: 1.558, Max stability: 5.392
q - n Particle update physics paused = 1
step 74600
ESC - Quit
hostuser@04cb521b7f3a:/code/CODE/nP-CA_test$ 
```
